# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Airflow
airflow/logs/
airflow/__pycache__/
airflow/*.cfg
airflow/airflow.db
airflow/webserver_config.py

# Docker
docker/**/data/
docker/**/logs/
*.log

# SQL Server / Databases
*.mdf
*.ldf
*.bak

# Databricks
databricks/


# OS / Editor
.DS_Store
.idea/
.vscode/

# Temporary / Generated
tmp/
temp/
